# Drupot Configuration File

[drupal]
# Port to server the honeypot webserver on.
# Note: Ports under 1024 require sudo.
port = 80

# Allows you to choose which changelog file to return to spoof different versions.
# Always served as "http[s]://server/CHANGELOG.txt"
changelog_filepath = "changelogs/CHANGELOG-7.63.txt"

version = "8.6"

# TODO: Optional SSL/TLS Cert

[hpfeeds]
enabled = false
host = "hpfeeds.threatstream.com"
port = 10000
ident = "drupot"
auth = "somesecret"
channel = "drupot.events"

# Meta data to be provided with each request phoned home
meta = "Drupal scan event detected"

[fetch_public_ip]
enabled = true
urls = ["http://icanhazip.com/", "http://ifconfig.me/ip"]
