# Drupot Configuration File

[drupal]
# Port to server the honeypot webserver on.
# Note: Ports under 1024 require sudo.
port = 80

site_name = "Drupot"
name_randomizer = true

# Set to false for 8.* as changelog isn't shown in these versions.
changelog_enabled = false 

# Allows you to choose which changelog file to return to spoof different versions.
# Always served as "http[s]://server/CHANGELOG.txt"
changelog_filepath = "changelogs/CHANGELOG-7.63.txt"

# Either 8.6 or 7.63
version = "8.6"

# Headers
header_server = "Apache/2.4.29 (Ubuntu)"
header_content_language = "en"


# TODO: Add support for domain names
# TODO: Optional SSL/TLS Cert

[hpfeeds]
enabled = false
host = "hpfeeds.threatstream.com"
port = 10000
ident = "drupot"
auth = "somesecret"
channel = "drupot.events"

# Meta data to be provided with each request phoned home
meta = "Drupal scan event detected"

[fetch_public_ip]
# Warning: Only disable if running on a local machine for testing.
enabled = true
urls = ["http://icanhazip.com/", "http://ifconfig.me/ip"]
